body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #a57979;
}
.banner-column{
    background-color: #9e3e3e;
}
.navabr-container{
    background-color: rgb(39, 37, 37);
    position: sticky;
    top: 0;
    z-index: 2;
}
.about-container{
    background-color: cadetblue;
}
.education-container{
    background-color: coral;
}
.bg-redtype{
    background-color: rgb(102, 21, 21);
}
.bg-redtype:hover{
    background-color: rgb(41, 13, 13);
}
.redtype-color{
    color:crimson;
}
.circle{
    background-color: crimson;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.project-container{
    background-color: darkslategrey;
}
.card-container{
    width: 150px;
    height: 200px;
}
.contact-container{
    background-color: dimgray;
}
.inner-form{
    background-color: #333232;
}
.footer{
    background-color: dodgerblue;
}
.footer-circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    color: slateblue;
}
.footer-circle:hover{
    background-color: rgb(34, 30, 30);
    color: slateblue;
}